<table>
<tr><td colspan=2 height=20></td></tr>
<% if cookies[:user_email] %>
 <td colspan=2>Already logged in as <%= cookies[:user_email] %></td>
<% else %>
  <td align=right><%= image_tag 'fb_icon_325x325.png', :width => "20" %></td>
  <td><%= link_to 'Log in with Facebook', "/auth/facebook" %></td></tr>
	<tr>
  <td align=right><%= image_tag 'Google-G-Logo.png', :width => "20" %></td>
  <td><%= link_to 'Log in with Google', "/auth/google_oauth2" %></td>
<% end %>
</tr>
</table>
