<div id="main" class="container">
<table>
<tr>
<td><%= image_tag 'oba_logo.png', :width => "100" %></td>
<td><h1>StopFinder</h1></td>
</tr>
<tr><td colspan=2>

<br><br>
<h2><%= @busstop.StopName %></h2>

</td></tr>
<%= form_for :busstop, url: busstops_path do |f| %>
  <% if @add.include?(:curb_inset) %>
    <tr>
      <td>Sign position:</td>
      <td><%= f.select :InsetFromCurb, BusStop.curbInsetNames.map.with_index{ |x, i| [x, BusStop.curbInsetValues[i]]}, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @add.include?(:bench_count) %>
    <tr>
      <td>Number of benches:</td>
      <td><%= f.select :BenchCount, BusStop.benchCountValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @add.include?(:can_count) %>
    <tr>
      <td>Is there a trash can?:</td>
      <td><%= f.select :HasCan,  BusStop.trashCanValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  </table>

  <p>
    Additional information:
    <%= f.text_area :StopComment, :value =>"", :rows =>3 %>
  </p>

  <%= f.hidden_field :UserIP, :value => request.remote_ip %>
  <%= f.hidden_field :UserId, :value => session[:user_email] %>
  <%= f.hidden_field :StopId, :value => @busstop.StopId %>
  <%= f.hidden_field :AgencyId, :value => @busstop.AgencyId %>
  <%= f.hidden_field :DateCreated, :value => Time.now %>
  <%= f.hidden_field :AddedFrom, :value => "add" %>

  <%= f.label :at_stop do %>
  <%= f.check_box :UserAtStop %>I am currently at this stop.
  <% end %>

  <p>
    <%= f.submit "Submit new information" %>
  </p>
<% end %>

<%= link_to 'Information collection details', "/InformationStatementV6.pdf" %>