<table>
<tr><td colspan=2>
<h2><%= @busstop.StopName %></h2>

</td></tr>
<%= form_for :busstop, url: busstops_path do |f| %>
<tr><td colspan=2>Is the stop closed right now?</td></tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosureType, "current", id: 'permanent_closed', :checked => true %> Yes
  </td>
</tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosureType, "future", id: 'permanent_closed' %> No, closed starting at: <br/>
    <%= f.date_select :ClosureStartdate %>
  </td>
</tr>

<tr><td colspan=2 height=20></td></tr>
<tr><td colspan=2>How long is it closed for?</td></tr>

<tr>
  <td colspan=2>
    <%= f.radio_button :ClosurePermanent, "unknown", id: 'permanent_closed' %> Unknown.
  </td>
</tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosurePermanent, "yes", id: 'permanent_closed', :checked => true %> Stop is closed permanently.
  </td>
</tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosurePermanent, "no", id: 'permanent_closed' %> Stop is closed until: <br />
    <%= f.date_select :ClosureEnddate %>
  </td>
</tr>

<tr><td colspan=2 height=20></td></tr>
<tr><td colspan=2>Is there a suggested alternate stop?</td></tr>

<tr>
  <td colspan=2>
    <%= f.text_area :MovedTo, :value =>"", :rows =>3, :cols =>100 %>
  </td>
</tr>
</table>


<%= f.hidden_field :UserIP, :value => request.remote_ip %>
<%= f.hidden_field :UserId, :value => cookies[:user_email] %>
<%= f.hidden_field :StopId, :value => @busstop.StopId %>
<%= f.hidden_field :AgencyId, :value => @busstop.AgencyId %>
<%= f.hidden_field :DateCreated, :value => Time.now %>

<%= f.check_box :UserAtStop %><%= f.label :UserAtStop, "I am currently at this stop." %> 
  
<p>
  <%= f.submit "Report closure" %>
</p>
<% end %>
