<table>
<tr><td colspan=2>
<h2><%= session[:stop_name] %>,</h2><h3><%= session[:direction] %> bound</h3>
<p> You've submitted information for this stop within the last 24 hours. You may edit your prior submission: </p>
</td></tr>
<%= form_for :busstop, url: busstops_path do |f| %>
  <tr>
    <td><%= f.label :Intersection, "Position (relative to intersection):" %></td>
    <td>
    <% if session[:intersection_pos][:needs_verification] == "true" %>
      <%= f.select :Intersection, (BusStop.STOPPOSITIONNAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.STOPPOSITIONVALUES_CONST[i]]}, :selected => session[:intersection_pos_edit] %>
    <% else %>
      <%= f.select :Intersection, (BusStop.STOPPOSITIONNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.STOPPOSITIONVALUES_CONST[i]]}, :selected => session[:intersection_pos_edit] %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :RteSignType, "Sign Type:" %></td>
    <td>
      <% if session[:sign_type][:needs_verification] == "true" %>
        <%= f.select :RteSignType, (BusStop.SIGNTYPENAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.SIGNTYPEVALUES_CONST[i]]}, :selected =>session[:sign_type_edit] %>
      <% else %>
        <%= f.select :RteSignType, (BusStop.SIGNTYPENAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.SIGNTYPEVALUES_CONST[i]]}, :selected =>session[:sign_type_edit] %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :InsetFromCurb, "Sign position:" %></td>
    <td>
      <% if session[:sign_inset][:needs_verification] == "true" %>
        <%= f.select :InsetFromCurb, (BusStop.SIGNINSETNAMES_CONST+ ["needs verification"]).map.with_index{ |x, i| [x, BusStop.SIGNINSETVALUES_CONST[i]]}, :selected => session[:sign_inset_edit] %>
      <% else %>
        <%= f.select :InsetFromCurb, (BusStop.SIGNINSETNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.SIGNINSETVALUES_CONST[i]]}, :selected => session[:sign_inset_edit] %>
      <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :SchedHolder, "Schedule holder:" %></td>
      <td>
        <% if session[:sched_holder][:needs_verification] == "true" %>
          <%= f.select :SchedHolder, (BusStop.SCHEDULENAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.SCHEDULEVALUES_CONST[i]]}, :selected => session[:sched_holder_edit] %>
        <% else %>
          <%= f.select :SchedHolder, (BusStop.SCHEDULENAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.SCHEDULEVALUES_CONST[i]]}, :selected => session[:sched_holder_edit] %>
      <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :Shelters, "Number of shelters:" %></td>
      <td>
        <% if session[:shelter_count][:needs_verification] == "true" %>
          <%= f.select :Shelters, (BusStop.SHELTERCOUNTNAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.SHELTERCOUNTVALUES_CONST[i]]}, :selected => session[:shelter_count_edit] %>
        <% else %>
          <%= f.select :Shelters, (BusStop.SHELTERCOUNTNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.SHELTERCOUNTVALUES_CONST[i]]}, :selected => session[:shelter_count_edit] %>
        <% end %>
      </td>
    </tr>
    <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") %>
      <tr>
        <td><%= f.label :ShelterOffset, "Position of shelter(s):" %></td>
        <td>
          <% if session[:shelter_offset][:needs_verification] == "true" %>
            <%= f.select :ShelterOffset, (BusStop.SHELTERINSETNAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.SHELTERINSETVALUES_CONST[i]]}, :selected => session[:shelter_offset_edit] %>
          <% else %>
            <%= f.select :ShelterOffset, (BusStop.SHELTERINSETNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.SHELTERINSETVALUES_CONST[i]]}, :selected => session[:shelter_offset_edit] %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") %>
      <tr>
        <td><%= f.label :ShelterOrientation, "Which way does the shelter open?:" %></td>
        <td>
          <% if session[:shelter_orientation][:needs_verification] == "true" %>
            <%= f.select :ShelterOrientation, (BusStop.SHELTERORIENTATIONNAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.SHELTERORIENTATIONVALUES_CONST[i]]}, :selected => session[:shelter_orientation_edit] %>
          <% else %>
            <%= f.select :ShelterOrientation, (BusStop.SHELTERORIENTATIONNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.SHELTERORIENTATIONVALUES_CONST[i]]}, :selected => session[:shelter_orientation_edit] %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><%= f.label :BenchCount, "Number of benches:" %></td>
      <td>
        <% if session[:bench_count][:needs_verification] == "true" %>
          <%= f.select :BenchCount, (BusStop.BENCHCOUNTNAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.BENCHCOUNTVALUES_CONST[i]]}, :selected => session[:bench_count_edit] %>
        <% else %>
          <%= f.select :BenchCount, (BusStop.BENCHCOUNTNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.BENCHCOUNTVALUES_CONST[i]]}, :selected => session[:bench_count_edit] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :HasCan, "Is there a trash can?:" %></td>
      <td>
        <% if session[:can_count][:needs_verification] == "true" %>
          <%= f.select :HasCan, (BusStop.TRASHCANNAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.TRASHCANVALUES_CONST[i]]}, :selected => session[:can_count_edit] %>
        <% else %>
          <%= f.select :HasCan, (BusStop.TRASHCANNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.TRASHCANVALUES_CONST[i]]}, :selected => session[:can_count_edit] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :LightingConditions, "Is the stop well-lit at night?:" %></td>
      <td>
        <% if session[:lighting][:needs_verification] == "true" %>
          <%= f.select :LightingConditions, (BusStop.LIGHTINGNAMES_CONST + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.LIGHTINGVALUES_CONST[i]]}, :selected => session[:lighting_edit] %>
        <% else %>
          <%= f.select :LightingConditions, (BusStop.LIGHTINGNAMES_CONST + ["unknown"]).map.with_index{ |x, i| [x, BusStop.LIGHTINGVALUES_CONST[i]]}, :selected => session[:lighting_edit] %>
        <% end %>
      </td>
    </tr>
  </table>
  <% if cookies[:user_email] %>
  <p>
   <%= f.label :StopComment, "Additional information:" %>
      <%= f.text_area :StopComment, :value =>session[:comment], :rows =>3 %>
    
  </p>
  <% end %>
  
  <%= f.hidden_field :UserIP, :value => request.remote_ip %>
  <%= f.hidden_field :UserId, :value => cookies[:user_id] %>
  <%= f.hidden_field :StopId, :value => session[:stop_id] %>
  <%= f.hidden_field :AgencyId, :value => session[:agency_id] %>
  <%= f.hidden_field :DateCreated, :value => Time.now %>
  <% if(session[:device_id]) %>
    <%= f.hidden_field :OBAId, :value => session[:device_id] %>
  <% end %>

  <%= f.check_box :UserAtStop %><%= f.label :UserAtStop, "I am currently at this stop." %> 
  <p>
    <%= f.submit "Verify" %>
  </p>
<% end %>
<%= link_to 'Information collection details', "/InformationStatementV6.pdf" %>
</div>
</div>