<table style="max-width: 500px;">
<tr><td colspan=2>
<h2><%= session[:stop_name] %>,</h2><h3><%= session[:direction] %> bound</h3>
<p> You've submitted information for this stop within the last 24 hours. You may edit your prior submission: </p>
</td></tr>
<%= form_for :busstop, url: busstops_path do |f| %>
  <tr>
    <td><%= f.label :Intersection, "Position (relative to intersection):" %></td>
    <td>
    <% if session[:intersection_pos][:needs_verification] == "true" %>
      <% stopPosOptions = BusStop.getActivePairs("stop position") %>
      <% stopPosOptions[-1][1] = "needs verification" %>
      <%= f.select :Intersection, stopPosOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.StopPosition[x[0]].text, 'data-help_img'=> Help.StopPosition[x[0]].img, 'data-help_img_alt'=> Help.StopPosition[x[0]].imgAltText}]}, :selected => session[:intersection_pos_edit] %>
    <% else %>
      <% stopPosOptions = BusStop.getActivePairs("stop position") %>
      <% stopPosOptions[-1][1] = "unknown" %>
      <%= f.select :Intersection, stopPosOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.StopPosition[x[0]].text, 'data-help_img'=> Help.StopPosition[x[0]].img, 'data-help_img_alt'=> Help.StopPosition[x[0]].imgAltText}]}, :selected => session[:intersection_pos_edit] %>
    <% end %>
    <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about position", :data => { :helptype => "Intersection" } %> 
    </td>
  </tr>
  <tr id="Intersection" style="background-color: #eee; display:none;">
    <td colspan=2 id="Intersection help text">
      <span id="Intersection help content"><%= Help.StopPosition[session[:intersection_pos_edit]].text %></span><br />
      <a href="#" data-help-image="Intersection" id="Intersection image link"></a>
    </td>
  </tr>
  <tr id="Intersection image" style="background-color: #eee; display:none;">
    <td colspan=2>
      <%= image_tag Help.StopPosition[session[:intersection_pos_edit]].img, :id => "Intersection image content", :style => "max-width: 100%;", :alt=> Help.StopPosition[session[:intersection_pos_edit]].imgAltText %> 
    </td>
  </tr>  
  <tr>
    <td><%= f.label :RteSignType, "Sign Type:" %></td>
    <td>
      <% if session[:sign_type][:needs_verification] == "true" %>
        <% signOptions = BusStop.getActivePairs("sign type") %>
        <% signOptions[-1][1] = "needs verification" %>
        <%= f.select :RteSignType, signOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.SignType[x[0]].text, 'data-help_img'=> Help.SignType[x[0]].img, 'data-help_img_alt'=> Help.SignType[x[0]].imgAltText} ]}, :selected => session[:sign_type_edit] %>
      <% else %>
        <% signOptions = BusStop.getActivePairs("sign type") %>
        <% signOptions[-1][1] = "unknown" %>
        <%= f.select :RteSignType, signOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.SignType[x[0]].text, 'data-help_img'=> Help.SignType[x[0]].img, 'data-help_img_alt'=> Help.SignType[x[0]].imgAltText} ]}, :selected => session[:sign_type_edit] %>
      <% end %>
      <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about position", :data => { :helptype => "RteSignType" } %> 
    </td>
  </tr>
  <tr id="RteSignType" style="background-color: #eee; display:none;">
    <td colspan=2 id="RteSignType help text">
      <span id="RteSignType help content"><%= Help.SignType[session[:sign_type_edit]].text %></span><br />
      <a href="#" data-help-image="RteSignType" id="RteSignType image link"></a>
    </td>
  </tr>
  <tr id="RteSignType image" style="background-color: #eee; display:none;">
    <td colspan=2>
      <%= image_tag Help.SignType[session[:sign_type_edit]].img, :id => "RteSignType image content", :style => "max-width: 100%;", :alt=> Help.SignType[session[:sign_type_edit]].imgAltText %> 
    </td>
  </tr>
  <tr>
    <td><%= f.label :InsetFromCurb, "Sign position:" %></td>
    <td>
      <% if session[:sign_inset][:needs_verification] == "true" %>
        <% insetOptions = BusStop.getActivePairs("sign inset") %>
        <% insetOptions[-1][1] = "needs verification" %>
        <%= f.select :InsetFromCurb, insetOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.SignInsetType[x[0]].text, 'data-help_img'=> Help.SignInsetType[x[0]].img, 'data-help_img_alt'=> Help.SignInsetType[x[0]].imgAltText} ]}, :selected => session[:sign_inset_edit] %>
      <% else %>
        <% insetOptions = BusStop.getActivePairs("sign inset") %>
        <% insetOptions[-1][1] = "unknown" %>
        <%= f.select :InsetFromCurb, insetOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.SignInsetType[x[0]].text, 'data-help_img'=> Help.SignInsetType[x[0]].img, 'data-help_img_alt'=> Help.SignInsetType[x[0]].imgAltText} ]}, :selected => session[:sign_inset_edit] %>
      <% end %>
      <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about position", :data => { :helptype => "InsetFromCurb" } %> 
    </td>
  </tr>
  <tr id="InsetFromCurb" style="background-color: #eee; display:none;">
    <td colspan=2 id="InsetFromCurb help text">
      <span id="InsetFromCurb help content"><%= Help.SignInsetType[session[:sign_inset_edit]].text %></span>
    </td>
  </tr>
  <tr>
    <td><%= f.label :SchedHolder, "Schedule holder:" %></td>
    <td>
      <% if session[:sched_holder][:needs_verification] == "true" %>
        <% schedOptions = BusStop.getActivePairs("schedule type") %>
        <% schedOptions[-1][1] = "needs verification" %>
        <%= f.select :SchedHolder, schedOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.ScheduleType[x[0]].text, 'data-help_img'=> Help.ScheduleType[x[0]].img, 'data-help_img_alt'=> Help.ScheduleType[x[0]].imgAltText} ]}, :selected => session[:sched_holder_edit] %>
      <% else %>
        <% schedOptions = BusStop.getActivePairs("schedule type") %>
        <% schedOptions[-1][1] = "unknown" %>
        <%= f.select :SchedHolder, schedOptions.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.ScheduleType[x[0]].text, 'data-help_img'=> Help.ScheduleType[x[0]].img, 'data-help_img_alt'=> Help.ScheduleType[x[0]].imgAltText} ]}, :selected => session[:sched_holder_edit] %>
      <% end %>
      <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about position", :data => { :helptype => "SchedHolder" } %>
    </td>
  </tr>
  <tr id="SchedHolder" style="background-color: #eee; display:none;">
    <td colspan=2 id="SchedHolder help text">
      <span id="SchedHolder help content"><%= Help.ScheduleType[session[:sched_holder_edit]].text %></span><br />
      <a href="#" data-help-image="SchedHolder" id="SchedHolder image link"></a>
    </td>
  </tr>
  <tr id="SchedHolder image" style="background-color: #eee; display:none;">
    <td colspan=2>
      <%= image_tag Help.ScheduleType[session[:sched_holder_edit]].img, :id => "SchedHolder image content", :style => "max-width: 100%;", :alt=> Help.ScheduleType[session[:sched_holder_edit]].imgAltText %> 
    </td>
  </tr>
  <tr>
    <td><%= f.label :Shelters, "Number of shelters:" %></td>
    <td>
      <% if session[:shelter_count][:needs_verification] == "true" %>
        <% shelterOptions = BusStop.getActivePairs("shelter count") %>
        <% shelterOptions[-1][1] = "needs verification" %>
        <%= f.select :Shelters, shelterOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:shelter_count_edit] %>
      <% else %>
        <% shelterOptions = BusStop.getActivePairs("shelter count") %>
        <% shelterOptions[-1][1] = "unknown" %>
        <%= f.select :Shelters, shelterOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:shelter_count_edit] %>
      <% end %>
    </td>
  </tr>
    <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") %>
      <tr>
        <td><%= f.label :ShelterOffset, "Position of shelter(s):" %></td>
        <td>
          <% if session[:shelter_offset][:needs_verification] == "true" %>
            <% shelterOffsets = BusStop.getActivePairs("shelter inset") %>
            <% shelterOffsets[-1][1] = "needs verification" %>
            <%= f.select :ShelterOffset, shelterOffsets.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.ShelterInsetType[x[0]].text, 'data-help_img'=> Help.ShelterInsetType[x[0]].img, 'data-help_img_alt'=> Help.ShelterInsetType[x[0]].imgAltText} ]}, :selected => session[:shelter_offset_edit] %>
          <% else %>
            <% shelterOffsets = BusStop.getActivePairs("shelter inset") %>
            <% shelterOffsets[-1][1] = "unknown" %>
            <%= f.select :ShelterOffset, shelterOffsets.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.ShelterInsetType[x[0]].text, 'data-help_img'=> Help.ShelterInsetType[x[0]].img, 'data-help_img_alt'=> Help.ShelterInsetType[x[0]].imgAltText} ]}, :selected => session[:shelter_offset_edit] %>
        <% end %>
        <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about position", :data => { :helptype => "ShelterOffset" } %>
        </td>
      </tr>
      <tr id="ShelterOffset" style="background-color: #eee; display:none;">
        <td colspan=2 id="ShelterOffset help text">
          <span id="ShelterOffset help content"><%= Help.ShelterInsetType[session[:shelter_offset_edit]].text %></span><br />
          <a href="#" data-help-image="ShelterOffset" id="ShelterOffset image link"></a>
        </td>
      </tr>
      <tr id="ShelterOffset image" style="background-color: #eee; display:none;">
        <td colspan=2>
          <%= image_tag Help.ShelterInsetType[session[:shelter_offset_edit]].img, :id => "ShelterOffset image content", :style => "max-width: 100%;", :alt=> Help.ShelterInsetType[session[:shelter_offset_edit]].imgAltText %> 
        </td>
      </tr>
    <% end %>
    <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") %>
      <tr>
        <td><%= f.label :ShelterOrientation, "Which way does the shelter open?:" %></td>
        <td>
          <% if session[:shelter_orientation][:needs_verification] == "true" %>
            <% shelterOrientations = BusStop.getActivePairs("shelter orientation") %>
            <% shelterOrientations[-1][1] = "needs verification" %>
            <%= f.select :ShelterOrientation, shelterOrientations.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.ShelterOrientationType[x[0]].text, 'data-help_img'=> Help.ShelterOrientationType[x[0]].img, 'data-help_img_alt'=> Help.ShelterOrientationType[x[0]].imgAltText} ]}, :selected => session[:shelter_orientation_edit] %>
          <% else %>
            <% shelterOrientations = BusStop.getActivePairs("shelter orientation") %>
            <% shelterOrientations[-1][1] = "unknown" %>
            <%= f.select :ShelterOrientation, shelterOrientations.map.with_index{ |x, i| [x[1], x[0], {'data-help_text'=> Help.ShelterOrientationType[x[0]].text, 'data-help_img'=> Help.ShelterOrientationType[x[0]].img, 'data-help_img_alt'=> Help.ShelterOrientationType[x[0]].imgAltText} ]}, :selected => session[:shelter_orientation_edit] %>
        <% end %>
        <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about position", :data => { :helptype => "ShelterOrientation" } %>
        </td>
      </tr>
      <tr id="ShelterOrientation" style="background-color: #eee; display:none;">
        <td colspan=2 id="ShelterOrientation help text">
          <span id="ShelterOrientation help content"><%= Help.ShelterOrientationType[session[:shelter_orientation_edit]].text %></span><br />
          <a href="#" data-help-image="ShelterOrientation" id="ShelterOrientation image link"></a>
        </td>
      </tr>
      <tr id="ShelterOrientation image" style="background-color: #eee; display:none;">
        <td colspan=2>
          <%= image_tag Help.ShelterOrientationType[session[:shelter_orientation_edit]].img, :id => "ShelterOrientation image content", :style => "max-width: 100%;", :alt=> Help.ShelterOrientationType[session[:shelter_orientation_edit]].imgAltText %> 
        </td>
      </tr>
    <% end %>
    <tr>
      <td><%= f.label :BenchCount, "Number of benches:" %></td>
      <td>
        <% if session[:bench_count][:needs_verification] == "true" %>
          <% benchOptions = BusStop.getActivePairs("bench count") %>
          <% benchOptions[-1][1] = "needs verification" %>
          <%= f.select :BenchCount, benchOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:bench_count_edit] %>
        <% else %>
          <% benchOptions = BusStop.getActivePairs("bench count") %>
          <% benchOptions[-1][1] = "unknown" %>
          <%= f.select :BenchCount, benchOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:bench_count_edit] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :HasCan, "Is there a trash can?:" %></td>
      <td>
        <% if session[:can_count][:needs_verification] == "true" %>
          <% canOptions = BusStop.getActivePairs("trashcan") %>
          <% canOptions[-1][1] = "needs verification" %>
          <%= f.select :HasCan, canOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:can_count_edit] %>
        <% else %>
          <% canOptions = BusStop.getActivePairs("trashcan") %>
          <% canOptions[-1][1] = "unknown" %>
          <%= f.select :HasCan, canOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:can_count_edit] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :LightingConditions, "Is the stop well-lit at night?:" %></td>
      <td>
        <% if session[:lighting][:needs_verification] == "true" %>
          <% lightingOptions = BusStop.getActivePairs("lighting") %>
          <% lightingOptions[-1][1] = "needs verification" %>
          <%= f.select :LightingConditions, lightingOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:lighting_edit] %>
        <% else %>
          <% lightingOptions = BusStop.getActivePairs("lighting") %>
          <% lightingOptions[-1][1] = "unknown" %>
          <%= f.select :LightingConditions, lightingOptions.map.with_index{ |x, i| [x[1], x[0]]}, :selected => session[:lighting_edit] %>
        <% end %>
      </td>
    </tr>
  </table>
  <% if cookies[:user_email] %>
  <p>
   <%= f.label :StopComment, "Additional information:" %>
      <%= f.text_area :StopComment, :value =>session[:comment], :rows =>3 %>
    
  </p>
  <% end %>
  
  <%= f.hidden_field :UserId, :value => cookies[:user_id] %>
  <%= f.hidden_field :StopId, :value => session[:stop_id] %>
  <%= f.hidden_field :AgencyId, :value => session[:agency_id] %>
  <%= f.hidden_field :DateCreated, :value => Time.now %>
  <% if(session[:device_id]) %>
    <%= f.hidden_field :OBAId, :value => session[:device_id] %>
  <% end %>

  <%= f.check_box :UserAtStop %><%= f.label :UserAtStop, "I am currently at this stop." %> 
  <p>
    <%= f.submit "Verify" %>
  </p>
<% end %>
<%= link_to 'Information collection details', "/InformationStatementV6.pdf" %>
</div>
</div>