<div id="main" class="container">
<table>
<tr>
<td><%= image_tag 'oba_logo.png', :width => "100" %></td>
<td><h1>StopInfo</h1></td>
</tr>
<tr>
<% if session[:user_email] %>
<td width=> </td>
<td align="right"> <%= session[:user_email]%><br/> <%= link_to "Log out", "/logout/" %> </td>
<% else %>
 <td></td>
 <td align="right"><%= link_to 'Log in with existing account', "/login/" %></td>
 <% end %>
 </tr>
 <tr><td colspan=2>

<br><br>
<h2><%= session[:stop_name] %></h2>

</td></tr>

  <% if @busstopAttributes[:stop_closed].value == "true" %> 
    <tr>
      <td colspan=2>
        <h4 style="color:red">THIS STOP MAY CURRENTLY BE CLOSED.</h4>
      </td>
    </tr>
  <% end %> 
  
  <% if session[:bearing_code] != "unknown" %>
    <tr>
      <td>Direction:</td>
      <td>
        <%= session[:bearing_code][:value] %>
        <% if session[:bearing_code][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Position from intersection:</td>
    <td>
        <% if session[:intersection_pos][:value] != "unknown" %>
          <%= session[:intersection_pos][:value] %>,
          <% if session[:intersection_pos][:needs_verification] == "true" %> * <% end %> 
        <% end %>
        <%= session[:intersection_distance] %> feet from intersection
    </td>
  </tr>
  <% if session[:sign_type][:value] != "unknown" %>
    <tr>
      <td>Sign type:</td>
      <td>
        <%= BusStop.signTypeNames[BusStop.signTypeValues.index(session[:sign_type][:value])] %>
        <% if session[:sign_type][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:curb_inset][:value] != "unknown" %>
    <tr>
      <td>Sign position:</td>
      <td>
        <%= BusStop.curbInsetNames[BusStop.curbInsetValues.index(session[:curb_inset][:value])] %> 
        <% if session[:curb_inset][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:sched_holder][:value] != "unknown" %>
    <tr>
      <td>Schedule holder:</td>
      <td>
        <%= session[:sched_holder][:value] %>
        <% if session[:sched_holder][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:shelter_count][:value] != "unknown" %>
    <tr>
      <td>Number of shelters:</td>
      <td>
        <%= session[:shelter_count][:value] %>
        <% if session[:shelter_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:bench_count][:value] != "unknown" %>
    <tr>
      <td>Number of benches:</td>
      <td>
        <%= session[:bench_count][:value] %>
        <% if session[:bench_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:can_count][:value] != "unknown" %>
    <tr>
      <td>Trash can?:</td>
      <td>
        <%= session[:can_count][:value] %>
        <% if session[:can_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:comment] != "" %>
    <tr>
      <td>Additional information:</td>
      <td>
        <%= session[:comment] %>
      </td>
    </tr>
  <% end %>
  <tr><td colspan=2 height=20></td></tr>
  <tr>
    <td><%= link_to 'Verify stop information', "/update/"+ params[:id] %></td>
    <td><%= link_to 'Report stop closure', "/closed/"+ params[:id] %></td>
  </tr>
  <tr>
    <td><%= link_to 'Main information page', "/" %></td>
  </tr>
</table>
<br />
* indicates information that needs verification
<br />
</div>