<head>
<style>
.container {
	max-width: 500px;
	padding: 5px;
}
.banner {
	padding: 5px;
	max-width: 500px;
	position: relative;
}
.dismiss {
	position: absolute; 
	right: 0;
	top: 0;
	max-width: 45px;
}
.displaytable {
  max-width: 500px;
}
</style>
<script>
function dismiss(id) {
	var e = document.getElementById(id);
	e.style.display = 'none';
	document.cookie = "showBanner=false";
}
</script>
</head>
<body>

<!------ BEGIN VIEW HEADER----------->
<table cellpadding = "10" class = "displaytable">
<!-- <div class = "banner" id = "banner">
	<script type="text/javascript">
	var c = document.cookie.replace(/(?:(?:^|.*;\s*)showBanner1\s*\=\s*([^;]*).*$)|^.*$/, "$1");
	if (c == "false") {
		var e = document.getElementById('banner');
		e.style.display = 'none';
	} 
	</script> 

	<a href = "/about/faq#tickets"><%= image_tag 'topbanner1.png', :alt=> 'New! Earn free bus rides with King County Metro! Click here to find out how entering information about bus stops can earn you bus tickets!', :width=>'100%' %></a>
	<div class = 'dismiss'>
	<a href='javascript:void(0)' onclick ="dismiss('banner');"><%= image_tag 'dismissbutton.png', :alt=> 'Click to dismiss notice.', :width=>'80%' %></a>
	</div>	
</div>
-->
<tr align="right"> <td></td>
    <% if cookies[:user_email] %>
      <td><%= cookies[:user_email].to_s %><br/> 
      <%= link_to "View Profile/Settings", "/profile" %><br/>
      <%= link_to "Log out", "/logout/" %> </td>
    <% else %>
      <td><a href = "/login/">Log in with <%= image_tag 'fb_icon_325x325.png', :alt=>"Facebook", :width=> '20'%> or <%= image_tag 'Google-G-Logo.png', :alt=>"Google", :width=> '20'%></a></td>
    <% end %>
</tr>
<!----- BEGIN STOP INFO TABLE ----->
<tr><td colspan=2>
<h2><%= session[:stop_name] %>,</h2><h3><%= session[:direction] %> bound</h3>
</td></tr>

  <% if session[:closure][:status] == "closed" %> 
    <% if session[:closure][:enddate] == "none" %>
      <tr>
        <td colspan=2>
          <h4 style="color:red">This stop was reported closed on <%= session[:closure][:reported] %>.</h4> 
          Date of reopening is unknown.<br />
          <%= link_to 'Update closure status', "/closed/"+ params[:id] %> 
        </td>
      </tr>
    <% else %>
      <tr>
        <td colspan=2>
          <h4 style="color:red">This stop was reported closed, reopening on <%= session[:closure][:enddate] %>.</h4>
          <%= link_to 'Update closure status', "/closed/"+ params[:id] %> 
        </td>
      </tr>
    <% end %>
  <% end %> 
  <tr>
  <td colspan=2><i>* indicates information that needs verification</i></td>
  </tr>
  <tr>
    <td>Position from intersection:</td>
    <td>
        <% if session[:intersection_pos][:value] != "unknown" %>
          <%= session[:intersection_pos][:value] %>,
          <% if session[:intersection_pos][:needs_verification] == "true" %> * <% end %> 
        <% end %>
        <%= session[:intersection_distance] %> feet from intersection <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about position", :data => { :helptype => "intersection" } %> 
    
    </td>
  </tr>
  <tr id="intersection" style="background-color: #eee; display:none;">
    <td colspan=2 id="intersection help text">
      <%= Help.StopPosition[session[:intersection_pos][:value]].text %><br />
      <a href="#" data-help-image="intersection" id="intersection image link"></a>
    </td>
  </tr>
  <tr id="intersection image" style="background-color: #eee; display:none;">
    <td colspan=2>
      <%= image_tag Help.StopPosition[session[:intersection_pos][:value]].img, :id => "intersection image content", :style => "max-width: 100%;", :alt=> Help.StopPosition[session[:intersection_pos][:value]].imgAltText %>
    </td>
  </tr>  
  <% if session[:sign_type][:value] != "unknown" %>
    <tr>
      <td>Sign type:</td>
      <td>
        <%= BusStop.getFieldName("sign type", session[:sign_type][:value]) %>
        <% if session[:sign_type][:needs_verification] == "true" %> * <% end %>
        
        <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about sign type", :data => { :helptype => "sign type" } %> 
      </td>
    </tr>
    <tr id="sign type" style="background-color: #eee; display:none;">
      <td colspan=2 id="sign type help text">
        <%= Help.SignType[session[:sign_type][:value]].text %><br />
        <a href="#" data-help-image="sign type" id="sign type image link"></a>
      </td>
    </tr>
    <tr id="sign type image" style="background-color: #eee; display:none;">
      <td colspan=2>
        <%= image_tag Help.SignType[session[:sign_type][:value]].img, :id => "sign type image content", :style => "max-width: 100%;", :alt =>  Help.SignType[session[:sign_type][:value]].imgAltText %>
      </td>
    </tr>
  <% end %>
  <% if session[:sign_inset][:value] != "unknown" %>
    <tr>
      <td>Sign position:</td>
      <td>
        <%= BusStop.getFieldName("sign inset", session[:sign_inset][:value]) %> 
        <% if session[:sign_inset][:needs_verification] == "true" %> * <% end %>
        <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about sign position", :data => { :helptype => "sign position" } %> 
      </td>
    </tr>
    <tr id="sign position" style="background-color: #eee; display:none;">
      <td colspan=2 id="sign position help text">
        <%= Help.SignInsetType[session[:sign_inset][:value]].text %><br />
      </td>
    </tr>
  <% end %>
  <% if session[:sched_holder][:value] != "unknown" %>
    <tr>
      <td>Schedule holder:</td>
      <td>
        <%= BusStop.getFieldName("schedule type", session[:sched_holder][:value]) %>
        <% if session[:sched_holder][:needs_verification] == "true" %> * <% end %>
        <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about schedule holders", :data => { :helptype => "schedule" } %> 
      </td>
    </tr>
    <tr id="schedule" style="background-color: #eee; display:none;">
      <td colspan=2 id="schedule help text">
        <%= Help.ScheduleType[session[:sched_holder][:value]].text %><br />
        <a href="#" data-help-image="schedule" id="schedule image link"></a>
      </td>
    </tr>
    <tr id="schedule image" style="background-color: #eee; display:none;">
      <td colspan=2>
        <%= image_tag Help.ScheduleType[session[:sched_holder][:value]].img, :id => "schedule image content", :style => "max-width: 100%;", :alt=> Help.ScheduleType[session[:sched_holder][:value]].imgAltText %>
      </td>
    </tr> 
  <% end %>
  <% if session[:shelter_count][:value] != "unknown" %>
    <tr>
      <td>Number of shelters:</td>
      <td>
        <%= BusStop.getFieldName("shelter count", session[:shelter_count][:value]) %>
        <% if session[:shelter_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") &&  session[:shelter_offset][:value] != "unknown" %>
    <tr>
      <td>Shelter position:</td>
      <td>
        <%= BusStop.getFieldName("shelter inset", session[:shelter_offset][:value]) %>
        <% if session[:shelter_offset][:needs_verification] == "true" %> * <% end %>
        <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about shelter position", :data => { :helptype => "shelter position" } %> 
      </td>
    </tr>
    <tr id="shelter position" style="background-color: #eee; display:none;">
      <td colspan=2 id="shelter position help text">
        <%= Help.ShelterInsetType[session[:shelter_offset][:value]].text %><br />
        <a href="#" data-help-image="shelter position" id="shelter position image link"></a>
      </td>
    </tr>
    <tr id="shelter position image" style="background-color: #eee; display:none;">
      <td colspan=2>
        <%= image_tag Help.ShelterInsetType[session[:shelter_offset][:value]].img, :id => "shelter position image content", :style => "max-width: 100%;", :alt=> Help.ShelterInsetType[session[:shelter_offset][:value]].imgAltText %>
      </td>
    </tr> 
  <% end %>
  <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") && session[:shelter_orientation][:value] != "unknown" %>
    <tr>
      <td>The shelter faces:</td>
      <td>
        <%= BusStop.getFieldName("shelter orientation", session[:shelter_orientation][:value]) %>
        <% if session[:shelter_orientation][:needs_verification] == "true" %> * <% end %>
        <%= image_tag "question-mark.png", :width => "18px", :alt=> "more information about shelter orientation", :data => { :helptype => "shelter orientation" } %> 
      </td>
    </tr>
    <tr id="shelter orientation" style="background-color: #eee; display:none;">
      <td colspan=2 id="shelter orientation help text">
        <%= Help.ShelterOrientationType[session[:shelter_orientation][:value]].text %><br />
        <a href="#" data-help-image="shelter orientation" id="shelter orientation image link"></a>
      </td>
    </tr>
    <tr id="shelter orientation image" style="background-color: #eee; display:none;">
      <td colspan=2>
        <%= image_tag Help.ShelterOrientationType[session[:shelter_orientation][:value]].img, :id => "shelter orientation image content", :style => "max-width: 100%;", :alt=> Help.ShelterOrientationType[session[:shelter_orientation][:value]].imgAltText %>
      </td>
    </tr> 
  <% end %>
  <% if session[:bench_count][:value] != "unknown" %>
    <tr>
      <td>Number of benches:</td>
      <td>
        <%= BusStop.getFieldName("bench count", session[:bench_count][:value]) %>
        <% if session[:bench_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:can_count][:value] != "unknown" %>
    <tr>
      <td>Trash can:</td>
      <td>
        <%= BusStop.getFieldName("trashcan", session[:can_count][:value]) %>
        <% if session[:can_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:lighting][:value] != "unknown" %>
    <tr>
      <td>Lighting at night:</td>
      <td>
        <%= BusStop.getFieldName("lighting", session[:lighting][:value]) %>
        <% if session[:lighting][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:comment] != "" %>
    <tr>
      <td>Additional information:</td>
      <td>
        <%= session[:comment] %>
      </td>
    </tr>
  <% end %>
  <tr><td colspan=2 height=20></td></tr>
  <tr>
    <td><%= link_to 'Verify or add stop information', "/update/"+ params[:id] %></td>
    <% if session[:closure][:status] == "open" %> 
    <td><%= link_to 'Report stop closure', "/closed/"+ params[:id] %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= link_to 'StopInfo Main Page', "/" %></td>
    <td><%= link_to 'FAQ', "/about/faq" %></td>
  </tr>
</table>
</body>
