<div id="main" class="container">
<table>
<tr>
<td><%= image_tag 'oba_logo.png', :width => "100" %></td>
<td><h1>StopFinder</h1></td>
</tr>
<tr>
<% if session[:user_email] %>
<td width=> </td>
<td align="right"> <%= session[:user_email]%><br/> <%= link_to "Log out", "/logout/" %> </td>
<% else %>
 <td></td>
 <td align="right"><%= link_to 'Log in with existing account', "/login/" %></td>
<% end %>
</tr>
<tr><td colspan=2>

<br><br>
<h2><%= @busstopAttributes[:stop_name].value %></h2>

</td></tr>

  <% if @busstopAttributes[:stop_closed].value == "true" %>
    <tr>
      <td colspan=2>
        <h4 style="color:red">THIS STOP MAY CURRENTLY BE CLOSED.</h4>
      </td>
    </tr>
  <% end %>
  
  <% if @busstopAttributes[:bearing_code].value != "unknown" %>
    <tr>
      <td>Direction:</td>
      <td>
        <%= @busstopAttributes[:bearing_code].value %>
        <% if @busstopAttributes[:bearing_code].needsValidation == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Position from intersection:</td>
    <td>
        <% if @busstopAttributes[:intersection_pos].value != "unknown" %>
          <%= @busstopAttributes[:intersection_pos].value %>,
          <% if @busstopAttributes[:intersection_pos].needsValidation == "true" %> * <% end %> 
        <% end %>
        <%= @busstopAttributes[:intersection_distance].value %> feet from curb
    </td>
  </tr>
  <% if @busstopAttributes[:sign_type].value != "unknown" %>
    <tr>
      <td>Sign type:</td>
      <td>
        <%= BusStop.signTypeNames[BusStop.signTypeValues.index(@busstopAttributes[:sign_type].value)] %> 
        <% if @busstopAttributes[:sign_type].needsValidation == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if @busstopAttributes[:curb_inset].value != "unknown" %>
    <tr>
      <td>Sign position:</td>
      <td>
        <%= BusStop.curbInsetNames[BusStop.curbInsetValues.index(@busstopAttributes[:curb_inset].value)] %> 
        <% if @busstopAttributes[:curb_inset].needsValidation == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if @busstopAttributes[:sched_holder].value != "unknown" %>
    <tr>
      <td>Schedule holder:</td>
      <td>
        <%= @busstopAttributes[:sched_holder].value %>
        <% if @busstopAttributes[:sched_holder].needsValidation == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if @busstopAttributes[:shelter_count].value != "unknown" %>
    <tr>
      <td>Number of shelters:</td>
      <td>
        <%= @busstopAttributes[:shelter_count].value %>
        <% if @busstopAttributes[:shelter_count].needsValidation == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if @busstopAttributes[:bench_count].value != "unknown" %>
    <tr>
      <td>Number of benches:</td>
      <td>
        <%= @busstopAttributes[:bench_count].value %>
        <% if @busstopAttributes[:bench_count].needsValidation == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if @busstopAttributes[:can_count].value != "unknown" %>
    <tr>
      <td>Number of cans:</td>
      <td>
        <%= @busstopAttributes[:can_count].value %>
        <% if @busstopAttributes[:can_count].needsValidation == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <tr><td colspan=2 height=20></td></tr>
  <tr>
    <td><%= link_to 'Verify stop information', "/update/"+ params[:id] %></td>
    <td><%= link_to 'Add new stop information', "/add/"+ params[:id] %></td>
  </tr>
  <tr>
    <% if @browser == :safari %>
      <td><%= link_to 'Return to app', "onebusaway://" %></td>
    <% end %>
	<td><%= link_to 'Report stop closure', "/closed/"+ params[:id] %></td>
  </tr>
</table>
<br />
* indicates information that needs verification
<br />
</div>