<table cellpadding = "10">
<tr><td colspan=2>
<h2><%= session[:stop_name] %>,</h2><h3><%= session[:bearing] %> bound</h3>
</td></tr>

  <% if session[:closure][:status] == "closed" %> 
    <% if session[:closure][:enddate] == "none" %>
      <tr>
        <td colspan=2>
          <h4 style="color:red">This stop was reported closed on <%= session[:closure][:reported] %>.</h4> 
          Date of reopening is unknown.<br />
          <%= link_to 'Update closure status', "/closed/"+ params[:id] %> 
        </td>
      </tr>
    <% else %>
      <tr>
        <td colspan=2>
          <h4 style="color:red">This stop was reported closed, reopening on <%= session[:closure][:enddate] %>.</h4>
          <%= link_to 'Update closure status', "/closed/"+ params[:id] %> 
        </td>
      </tr>
    <% end %>
  <% end %> 
  
  <tr>
    <td>Position from intersection:</td>
    <td>
        <% if session[:intersection_pos][:value] != "unknown" %>
          <%= session[:intersection_pos][:value] %>,
          <% if session[:intersection_pos][:needs_verification] == "true" %> * <% end %> 
        <% end %>
        <%= session[:intersection_distance] %> feet from intersection
    </td>
  </tr>
  <% if session[:sign_type][:value] != "unknown" %>
    <tr>
      <td>Sign type:</td>
      <td>
        <%= BusStop.signTypeNames[BusStop.signTypeValues.index(session[:sign_type][:value])] %>
        <% if session[:sign_type][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:curb_inset][:value] != "unknown" %>
    <tr>
      <td>Sign position:</td>
      <td>
        <%= BusStop.curbInsetNames[BusStop.curbInsetValues.index(session[:curb_inset][:value])] %> 
        <% if session[:curb_inset][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:sched_holder][:value] != "unknown" %>
    <tr>
      <td>Schedule holder:</td>
      <td>
        <%= session[:sched_holder][:value] %>
        <% if session[:sched_holder][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:shelter_count][:value] != "unknown" %>
    <tr>
      <td>Number of shelters:</td>
      <td>
        <%= BusStop.shelterCountNames[BusStop.shelterCountValues.index(session[:shelter_count][:value])] %>
        <% if session[:shelter_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") &&  session[:shelter_offset][:value] != "unknown" %>
    <tr>
      <td>Shelter position:</td>
      <td>
        <%= BusStop.shelterInsetNames[BusStop.shelterInsetValues.index(session[:shelter_offset][:value])] %>
        <% if session[:shelter_offset][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if (session[:shelter_count][:value] != "0") && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") && session[:shelter_orientation][:value] != "unknown" %>
    <tr>
      <td>The shelter faces:</td>
      <td>
        <%= BusStop.shelterOrientationNames[BusStop.shelterOrientationValues.index(session[:shelter_orientation][:value])] %>
        <% if session[:shelter_orientation][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:bench_count][:value] != "unknown" %>
    <tr>
      <td>Number of benches:</td>
      <td>
        <%= session[:bench_count][:value] %>
        <% if session[:bench_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:can_count][:value] != "unknown" %>
    <tr>
      <td>Trash can?:</td>
      <td>
        <%= session[:can_count][:value] %>
        <% if session[:can_count][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:lighting][:value] != "unknown" %>
    <tr>
      <td>Well-lit at night?:</td>
      <td>
        <%= BusStop.lightingNames[BusStop.lightingValues.index(session[:lighting][:value])] %>
        <% if session[:lighting][:needs_verification] == "true" %> * <% end %>
      </td>
    </tr>
  <% end %>
  <% if session[:comment] != "" %>
    <tr>
      <td>Additional information:</td>
      <td>
        <%= session[:comment] %>
      </td>
    </tr>
  <% end %>
  <tr><td colspan=2 height=20></td></tr>
  <tr>
    <td><%= link_to 'Verify or add stop information', "/update/"+ params[:id] %></td>
    <% if session[:closure][:status] == "open" %> 
    <td><%= link_to 'Report stop closure', "/closed/"+ params[:id] %></td>
    <% end %>
  </tr>
  <tr><td colspan=2 height=20></td></tr>
  <tr>
    <td><%= link_to 'What is StopInfo?', "/" %></td>
    <td><%= link_to 'What do these fields mean?', "/about/fields" %></td>
  </tr>
  <tr> <td></td>
    <% if session[:user_email] %>
      <td> <%= session[:user_email]%><br/> <%= link_to "Log out", "/logout/" %> </td>
    <% else %>
      <td><%= link_to 'Log in with existing account', "/login/" %></td>
    <% end %>
</table>
<br />
* indicates information that needs verification
<br />
