<table>
<tr><td colspan=2>
<h2><%= session[:stop_name] %></h2>

</td></tr>
<%= form_for :busstop, url: busstops_path do |f| %>
  <tr>
    <td><%= f.label :Intersection, "Position (relative to intersection):" %></td>
    <td>
    <% if session[:intersection_pos][:needs_verification] == "true" %>
      <%= f.select :Intersection, (BusStop.intersectionPosNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.intersectionPositionValues[i]]}, :selected => "unknown" %>
    <% else %>
      <%= f.select :Intersection, (BusStop.intersectionPosNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.intersectionPositionValues[i]]}, :selected => session[:intersection_pos][:value] %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :RteSignType, "Sign Type:" %></td>
    <td>
      <% if session[:sign_type][:needs_verification] == "true" %>
        <%= f.select :RteSignType, (BusStop.signTypeNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.signTypeValues[i]]}, :selected => "unknown" %>
      <% else %>
        <%= f.select :RteSignType, (BusStop.signTypeNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.signTypeValues[i]]}, :selected =>session[:sign_type][:value] %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :InsetFromCurb, "Sign position:" %></td>
    <td>
      <% if session[:curb_inset][:needs_verification] == "true" %>
        <%= f.select :InsetFromCurb, (BusStop.curbInsetNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.curbInsetValues[i]]}, :selected => "unknown" %>
      <% else %>
        <%= f.select :InsetFromCurb, (BusStop.curbInsetNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.curbInsetValues[i]]}, :selected => session[:curb_inset][:value] %>
      <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :SchedHolder, "Schedule holder:" %></td>
      <td>
        <% if session[:sched_holder][:needs_verification] == "true" %>
          <%= f.select :SchedHolder, (BusStop.scheduleTypeNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.scheduleTypeValues[i]]}, :selected => "unknown" %>
        <% else %>
          <%= f.select :SchedHolder, (BusStop.scheduleTypeNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.scheduleTypeValues[i]]}, :selected => session[:sched_holder][:value] %>
      <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :Shelters, "Number of shelters:" %></td>
      <td>
        <% if session[:shelter_count][:needs_verification] == "true" %>
          <%= f.select :Shelters, (BusStop.shelterCountNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.shelterCountValues[i]]}, :selected => "unknown" %>
        <% else %>
          <%= f.select :Shelters, (BusStop.shelterCountNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.shelterCountValues[i]]}, :selected => session[:shelter_count][:value] %>
      <% end %>
      </td>
    </tr>
    <% if (session[:shelter_count][:value] != 0) && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") %>
      <tr>
        <td><%= f.label :ShelterOffset, "Position of shelter(s):" %></td>
        <td>
          <% if session[:shelter_offset][:needs_verification] == "true" %>
            <%= f.select :ShelterOffset, (BusStop.shelterInsetNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.shelterInsetValues[i]]}, :selected => "unknown" %>
          <% else %>
            <%= f.select :ShelterOffset, (BusStop.shelterInsetNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.shelterInsetValues[i]]}, :selected => session[:shelter_offset][:value] %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <% if (session[:shelter_count][:value] != 0) && (session[:shelter_count][:value] != "unknown") && (session[:shelter_count][:needs_verification] == "false") %>
      <tr>
        <td><%= f.label :ShelterOrientation, "Which way does the shelter open?:" %></td>
        <td>
          <% if session[:shelter_orientation][:needs_verification] == "true" %>
            <%= f.select :ShelterOrientation, (BusStop.shelterOrientationNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.shelterOrientationValues[i]]}, :selected => "unknown" %>
          <% else %>
            <%= f.select :ShelterOrientation, (BusStop.shelterOrientationNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.shelterOrientationValues[i]]}, :selected => session[:shelter_offset][:value] %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><%= f.label :BenchCount, "Number of benches:" %></td>
      <td>
        <% if session[:bench_count][:needs_verification] == "true" %>
          <%= f.select :BenchCount, (BusStop.benchCountNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.benchCountValues[i]]}, :selected => "unknown" %>
        <% else %>
          <%= f.select :BenchCount, (BusStop.benchCountNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.benchCountValues[i]]}, :selected => session[:bench_count][:value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :HasCan, "Is there a trash can?:" %></td>
      <td>
        <% if session[:can_count][:needs_verification] == "true" %>
          <%= f.select :HasCan, (BusStop.trashCanNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.trashCanValues[i]]}, :selected => "unknown" %>
        <% else %>
          <%= f.select :HasCan, (BusStop.trashCanNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.trashCanValues[i]]}, :selected => session[:can_count][:value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :LightingConditions, "Is the stop well-lit at night?:" %></td>
      <td>
        <% if session[:lighting][:needs_verification] == "true" %>
          <%= f.select :LightingConditions, (BusStop.lightingNames + ["needs verification"]).map.with_index{ |x, i| [x, BusStop.lightingValues[i]]}, :selected => "unknown" %>
        <% else %>
          <%= f.select :LightingConditions, (BusStop.lightingNames + ["unknown"]).map.with_index{ |x, i| [x, BusStop.lightingValues[i]]}, :selected => session[:lighting][:value] %>
        <% end %>
      </td>
    </tr>
  </table>
  <% if session[:user_email] %>
  <p>
   <%= f.label :StopComment, "Additional information:" %>
      <%= f.text_area :StopComment, :value =>session[:comment], :rows =>3 %>
    
  </p>
  <% end %>
  
  <%= f.hidden_field :UserIP, :value => request.remote_ip %>
  <%= f.hidden_field :UserId, :value => session[:user_email] %>
  <%= f.hidden_field :StopId, :value => session[:stop_id] %>
  <%= f.hidden_field :AgencyId, :value => session[:agency_id] %>
  <%= f.hidden_field :DateCreated, :value => Time.now %>
  <% if(session[:device_id]) %>
    <%= f.hidden_field :OBAId, :value => session[:device_id] %>
  <% end %>

  <%= f.check_box :UserAtStop %><%= f.label :UserAtStop, "I am currently at this stop." %> 
  <p>
    <%= f.submit "Verify" %>
  </p>
<% end %>
<%= link_to 'Information collection details', "/InformationStatementV6.pdf" %>
</div>
</div>