<div class="container">
<div class="top">
<table>
<tr>
<td><%= image_tag 'oba_logo.png', :width => "100" %> <h1>StopInfo</h1></td>
</tr>
</div>
<div class = "content">
<tr><td colspan=2>

<br><br>
<h2><%= @busstop.StopName %></h2>

</td></tr>
<%= form_for :busstop, url: busstops_path do |f| %>
  <% if @validate.include?(:bearing_code) %>
    <tr>
      <td>Direction: </td>
      <td><%= f.select :BearingCode, BusStop.directionValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @validate.include?(:intersection_pos) %>
    <tr>
      <td>Position (relative to intersection):</td>
      <td><%= f.select :Intersection, BusStop.intersectionPositionValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @validate.include?(:curb_inset) %>
    <tr>
      <td>Sign position:</td>
      <td><%= f.select :InsetFromCurb, BusStop.curbInsetNames.map.with_index{ |x, i| [x, BusStop.curbInsetValues[i]]}, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @validate.include?(:sign_type) %>
    <tr>
      <td>Sign Type:</td>
      <td><%= f.select :RteSignType, BusStop.signTypeNames.map.with_index{ |x, i| [x, BusStop.signTypeValues[i]]}, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @validate.include?(:sched_holder) %>
    <tr>
      <td>Schedule holder:</td>
      <td><%= f.select :SchedHolder, BusStop.scheduleTypeValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @validate.include?(:shelter_count) %>
    <tr>
      <td>Number of shelters:</td>
      <td><%= f.select :Shelters, BusStop.shelterCountValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @validate.include?(:bench_count) %>
    <tr>
      <td>Number of benches:</td>
      <td><%= f.select :BenchCount, BusStop.benchCountValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  <% if @validate.include?(:can_count) %>
    <tr>
      <td>Is there a trash can?:</td>
      <td><%= f.select :HasCan,  BusStop.trashCanValues, :selected => "unknown" %></td>
    </tr>
  <% end %>
  </table>
  
  <%= f.hidden_field :UserIP, :value => request.remote_ip %>
  <%= f.hidden_field :UserId, :value => session[:user_email] %>
  <%= f.hidden_field :StopId, :value => @busstop.StopId %>
  <%= f.hidden_field :AgencyId, :value => @busstop.AgencyId %>
  <%= f.hidden_field :DateCreated, :value => Time.now %>
  <%= f.hidden_field :AddedFrom, :value => "update" %>

  <%= f.label :at_stop do %>
  <%= f.check_box :UserAtStop %>I am currently at this stop.
  <% end %>
  <p>
    <%= f.submit "Verify" %>
  </p>
<% end %>
<%= link_to 'Information collection details', "/InformationStatementV6.pdf" %>
</div>
</div>