<head>
<style>
.container {
	font-size: 1.3em;
	margin: 0 auto;
	padding-top:1em;
}

.badges {
	margin: 0 auto;
}
.settings {
	display: none;
	padding:5px;
	font-size:1em;
	background-color: rgb(238,238,238);
	max-width: 80%;
}
.editName {
	display: none;
}
.alert {
	color:red;
	display:block;
}
</style>

<script>
function toggleVisibility(id) {

	var e = document.getElementById(id);
	if (e.style.display == 'block') {
		e.style.display = 'none';
		if (id == 'settings') {
			document.getElementById('profLink').innerHTML = "Profile Settings";
			<% @form_submitted = false %>
		} else if (id == 'editName') {
			document.getElementById('displayLink').innerHTML = "Edit Display Name";
		}
	} else {
		e.style.display = 'block';
		if (id == 'settings')
			document.getElementById('profLink').innerHTML = "Hide Settings";	
		else if (id == 'editName') {
			document.getElementById('displayLink').innerHTML = "Cancel";
		}
	}
}
</script>
</head>


<div class="container">
<% if User.find_by_id(cookies[:user_id]).title == nil %><%= image_tag 'oba_logo.png', :alt => "profile picture", :width => "50" %>
<% else %> <%= image_tag User.find_by_id(cookies[:user_id]).title.to_s + '.png', :alt=>"Profile icon", :width=>"50"%>
<% end %>

<% if cookies[:user_id] %>
  Welcome, <%= User.find_by_id(cookies[:user_id]).name %>!
  <br/><br/>
  <% if (!User.find_by_id(cookies[:user_id]).visible) %>
  <h4 style="color:red">Your profile is private. Make public to take part of rankings.</h4>
  <br/>
  <% end %>
  Points: <% if User.find_by_id(cookies[:user_id]).points == nil %>0
  		  <% else %>
  			<%= User.find_by_id(cookies[:user_id]).points %>
  		 <% end %>
  <br />
  <%= link_to 'View Rankings', '/topcontributors/' %>
  <br/><br/>
  Badges:
  <br/>
<div class="badges">
<% if User.find_by_id(cookies[:user_id]).badges != nil %>
  <% if User.find_by_id(cookies[:user_id]).badges.include? "001" %>
  <%= image_tag '001.png', :width => "50" %>
  <% end %>
  <% if User.find_by_id(cookies[:user_id]).badges.include? "002" %>
  <%= image_tag '002.png', :width => "50" %>
  <% end %>
  <% if User.find_by_id(cookies[:user_id]).badges.include? "003" %>
  <%= image_tag '003.png', :width => "50" %>
  <% end %>
  <% if User.find_by_id(cookies[:user_id]).badges.include? "004" %>
  <%= image_tag '004.png', :width => "50" %>
  <% end %>
<% end %>
</div>
<br/>

<div class = "settings" id= "settings">
<%= form_for :settings do |f| %>
 <%= f.label :make_visible do %>
 <% if (User.find_by_id(cookies[:user_id]).visible) %>
 <% checked_value = true %>
 <% else %>
 <% checked_value = false %>
 <% end %>
  <%= f.check_box :visible, :checked => checked_value %> Make my profile public.
 <% end %>
 <br/>
 
 <div class = "editName" id= "editName">
 <%= f.text_field :display_name, :value => User.find_by_id(cookies[:user_id]).name, :size => 20 %> <br/>
 </div>
 <a href="javascript:void(0)" onclick="toggleVisibility('editName');" id="displayLink">Edit Display Name</a>
 <br/>
<%= f.submit "Save Changes" %>
<% end %>
</div>
<a href="javascript:void(0)" onclick ="toggleVisibility('settings');" id="profLink">Profile Settings</a>
 <% if flash[:notice] %>
 	<script>
 	toggleVisibility('settings');
 	toggleVisibility('editName');
 	</script>
<% end %>
<% else %>
  Not logged in. <%= link_to 'Log in here', "/login/" %><br />
<% end %>
<br />
<%= link_to 'Return to information view', "/busstops/"+ session[:agency_id] + "_" + session[:stop_id] %>
</div>

