<head>
<style>
.container {
	font-size: 1.3em;
	margin: 0 auto;
	padding-top:1em;
}

.badges {
	margin: 0 auto;
	width: 90%;
}
</style>
</head>


<div class="container">
<% if User.find_by_id(cookies[:user_id]).title == nil %><%= image_tag 'oba_logo.png', :alt => "profile picture", :width => "50" %>
<% elsif User.find_by_id(cookies[:user_id]).title == "01" %>
	<%= image_tag 'Contributor.png', :alt=> "Contributor icon", :width=>"50"%>
<% elsif User.find_by_id(cookies[:user_id]).title == "02" %>
	<%= image_tag 'SavvyTraveler.png', :alt=> "Savvy Traveler icon", :width=>"50"%>
<% elsif User.find_by_id(cookies[:user_id]).title == "03" %>
	<%= image_tag 'Contributor.png', :alt=> "Contributor icon", :width=>"50"%>
<% end %>

<% if cookies[:user_id] %>
  Welcome,
  <script> 
  var email_string = '<%= cookies[:user_email]%>';
  email_string = email_string.substring(0, email_string.indexOf("@"));
  document.write(email_string);
  </script>!
  <br/><br/>

  Points: <% if User.find_by_id(cookies[:user_id]).points == nil %>0
  		  <% else %>
  			<%= User.find_by_id(cookies[:user_id]).points %>
  		 <% end %>
  <br/><br/>
  Badges:
  <br/>
<div class="badges">
<%= image_tag 'oba_logo.png', :width => "50" %> <%= image_tag 'oba_logo.png', :width => "50" %> <%= image_tag 'oba_logo.png', :width => "50" %>
</div>
<% else %>
  Not logged in. <%= link_to 'Log in here', "/login/" %><br />
<% end %>
<br />
<%= link_to 'Return to information view', "/busstops/"+ session[:agency_id] + "_" + session[:stop_id] %>
</div>