<head>
<style>
.container {
	font-size: 1.3em;
	margin: 0 auto;
	padding-top:1em;
}

.badges {
	margin: 0 auto;
}
.settings {
	display: none;
	padding-left:1em;
	background-color: rgb(238,238,238);
	max-width: 30%;
}
</style>
</head>


<div class="container">
<% if User.find_by_id(cookies[:user_id]).title == nil %><%= image_tag 'oba_logo.png', :alt => "profile picture", :width => "50" %>
<% else %> <%= image_tag User.find_by_id(cookies[:user_id]).title.to_s + '.png', :alt=>"Profile icon", :width=>"50"%>
<% end %>

<% if cookies[:user_id] %>
  Welcome,
  <script> 
  var email_string = '<%= cookies[:user_email]%>';
  email_string = email_string.substring(0, email_string.indexOf("@"));
  document.write(email_string);
  </script>!
  <br/><br/>

  Points: <% if User.find_by_id(cookies[:user_id]).points == nil %>0
  		  <% else %>
  			<%= User.find_by_id(cookies[:user_id]).points %>
  		 <% end %>
  <br />
  <%= link_to 'View Rankings', '/topcontributors/' %>
  <br/><br/>
  Badges:
  <br/>
<div class="badges">
<% if User.find_by_id(cookies[:user_id]).badges != nil %>
  <% if User.find_by_id(cookies[:user_id]).badges.include? "001" %>
  <%= image_tag '001.png', :width => "50" %>
  <% end %>
<% end %>
</div>
<br/>
<a href="javascript:void(0)" onclick ="toggleSettings();" id="profLink">Profile Settings</a>
<div class = "settings" id= "settings">
Settings
</div>

<% else %>
  Not logged in. <%= link_to 'Log in here', "/login/" %><br />
<% end %>
<br />
<%= link_to 'Return to information view', "/busstops/"+ session[:agency_id] + "_" + session[:stop_id] %>
</div>

<script>
function toggleSettings() {
	if (document.getElementById('settings').style.display == 'block') {
		document.getElementById('settings').style.display = 'none';
		document.getElementById('profLink').innerHTML = "Profile Settings";
	} else {
		document.getElementById('settings').style.display = 'block';
		document.getElementById('profLink').innerHTML = "Hide Settings";
	}
	
}
</script>
