<head>
<style>
.container {
	font-size: 1.3em;
	margin: 0 auto;
	padding-top:1em;
}

.badges {
	margin: 0 auto;
	width: 100%;
}
</style>
</head>


<div class="container">
<% if @displayInfo == "hidden" %>
  This user's profile is not public.
<% elsif @displayInfo == "no user" %>
  There is no user by that id.
<% end %>

<% if @user != nil %>
	<% if @user.title == nil %><%= image_tag 'oba_logo.png', :alt => "profile picture", :width => "50" %>
	<% else %> <%= image_tag @user.title.to_s + '.png', :alt=>"profile picture", :width=>"50"%>
	<% end %>
  <%= @user.name %><br /><br/>
  Points: <% if @user.points == nil %>0
  		  <% else %>
  			<%= @user.points %>
  		 <% end %>
  <br /><br/>
<div class="badges">
Badges:
<% if @user.badges != nil %>
  <% if @user.badges.include? "001" %>
  <%= image_tag '001.png', :width => "50" %>
  <% end %>
<% end %>
</div>
<% end %>
<br />
<%= link_to 'Return to information view', "/busstops/"+ session[:agency_id] + "_" + session[:stop_id] %>
</div>