<style>
.container {
	font-size: 1.3em;
	margin: 0 auto;
	padding-top:1em;
}
</style>
<div class="container">
<b> Top Contributors </b><br/><br/>
<% @userList.take_while{ |u| u.position <= 19}.each do |user| %>
  <%= user.position + 1 %>.
  <%= image_tag user.title + '.png', :width=>"50"%> 
  <%= link_to user.name.to_s, '/user/' + user.id.to_s %>, 
  <%= user.points %> points
  <br/><br/>
<% end %>
<br/>
<%= link_to "My Profile", "/reputation/profile" %>
</div>