<head>
<style>
.container {
	font-size: 1.3em;
	margin: 0 auto;
	padding-top:1em;
}
</style>
<title>About StopInfo</title>
</head>

<div class= "container">
	<b><h2>About StopInfo</h2></b>
	<br/>
	<ul><a name="top"></a>
	<li><a href ="#how-stopinfo-works">How does StopInfo work?</a><br/></li>
	<li><a href ="#who-stopinfo-helps">Who does StopInfo benefit?</a><br/></li>
	<li><a href ="#how-you-can-help">How can I help?</a><br/></li>
	<li><a href ="#onebusaway">Is StopInfo an extension of OneBusAway?</a><br/></li>
	<li><a href ="#stop-presence">Do I need to be present at a stop to enter information?</a><br/></li>
	<li><a href ="#points">How do I earn points and badges?</a><br/></li>
	<li><a href ="#tickets">How do I earn free bus rides on King County Metro buses?</a></li>
	<li><a href ="#privacy">Are my e-mail address and other personal information kept private?</a><br/></li>
	<li><a href ="#will-stopinfo-post">Will StopInfo post things to my Facebook?</a><br/></li>
	</ul>
	<!--<a href ="#how-accuracy-works">How is accuracy assessed?</a><br/>-->
	<br/>
	<a name="how-stopinfo-works"></a><b>How does StopInfo work?</b><br/>
	StopInfo combines data about bus stops from King County Metro 
	along with information provided directly by users of the application. The system chooses which information to display 
	according to a majority voting system. A field is considered as 'verified' when it receives
	at least 75% of the same vote; otherwise, the majority answer is displayed as 'unverified.' 
	Categories that have information provided by at least one source will appear 
	on the stop information page.<br/> <a href ="#top">[top]</a>
	<br/><br/>
	<a name="who-stopinfo-helps"></a><b>Who does StopInfo benefit?</b><br/>
	StopInfo is meant to be a tool for everyone who wishes to have information about transit stops as they travel. For example,
	StopInfo provides information about whether stops are currently closed, or if the stop has good lighting at night. However,
	we specifically collect information that has been identified by blind and low vision transit riders to be useful when trying to
	locate transit stops. <br/> <a href ="#top">[top]</a>
	 <br/><br/>
	<a name="how-you-can-help"></a><b>How can I help?</b><br/>
	Next time you are waiting at a bus stop, you can add or verify stop information by clicking on the 'Add/verify information' link at the bottom of that stop's information page. Details about the landmarks we are looking for are described by tapping the '?' icon next to each field, or on <%= link_to 'this page', "/about/fields" %>. You can also report temporary or permanent stop closures by tapping the 'Report closure' link on the relevant stop's information page. You can go back and edit stop information at any time if you choose to <a href = "/login/">log in with a Facebook or Google account</a> before adding information.<br/> <a href ="#top">[top]</a>
	<br/><br/>
	<a name="onebusaway"></a><b>Is StopInfo an extension of OneBusAway?</b><br/>
	Yes and no. StopInfo is currently a research project at the University of Washington (where OneBusAway was created) and is only integrated into the iOS version of OneBusAway for the Puget Sound region. The system may be integrated into all OneBusAway platforms in the future, and possibly extend to other regions that OneBusAway covers as well.<br/> <a href ="#top">[top]</a>
	<br/><br/>
	<a name="stop-presence"></a><b>Do I need to be present at a stop to enter information?</b><br/>
	No, you do not need to be currently present at the stop for which you are entering information. However, we recommend that you are physically present at the time of contribution in order to ensure that all stop landmarks can be fully perceived. If you need to get on a bus while in the process of entering information, you may submit only the fields that you were able to observe. You can also check and edit your information for a stop later if you wish by looking up the stop on <a href= "https://www.google.com/maps/@47.654268,-122.305134,3a,30y,205.93h,84.14t/data=!3m4!1e1!3m2!1s8KrVHPFsWkig6wmavcHpdg!2e0!6m1!1e1" target = "_blank">Google Street View</a>. (Note: some features of a stop may be obscured in these photos by vehicles or pedestrians.) <br/> <a href ="#top">[top]</a>
	<br/><br/>
	<a name="points"></a><b>How do I earn points and badges?</b><br/>
	Points are accumulated every time you enter information for a stop. Points are awarded for each new stop you enter information for as well as fields that you are the first to enter information for. Earning points can unlock new titles (represented by the icons next to your name) and having a high number of points can even land you on the <a href = "/topcontributors/">top contributors list</a>!<br/>
	Badges are unlocked by achieving certain goals. They are described in detail <%= link_to 'here', "/badges" %>. You can find your current badges on <a href = "/profile/">your profile page</a>.<br/> <a href ="#top">[top]</a>
	<br/><br/>
	<a name="tickets"></a><b>How do I earn free bus rides on King County Metro buses?</b><br/>
	Every month, we reward our top information contributors with bus tickets from King County Metro that are redeemable for free rides on any King County Metro bus. To be eligible, you must sign in with either a Facebook or Google account, and make your profile public by going into the settings on your <a href="/profile/">profile page</a>. 
	<br/> <a href ="#top">[top]</a>
	<br/><br/>
	<a name="privacy"></a><b>Are my e-mail address and other personal information kept private?</b><br/>
	Yes. We will store your e-mail address and associated stop information on a secure server and will not share it. If you choose not to show your name on your public profile, you may edit your display name in your <a href="/profile/">account settings</a>. No other personally identifying information associated with your Facebook or Google accounts will be stored by us or shared with other people using StopInfo. We may occasionally use your e-mail address to contact you about StopInfo related news or, in the future, allow you to subscribe to notifications about your favorite stops (for example, if the stop closes). You may choose to <%= link_to "delete your account", "/confirm/" %> at any time. <br/> <a href ="#top">[top]</a>
	<br/><br/>
	<a name="will-stopinfo-post"></a><b>Will StopInfo post things to my Facebook?</b><br/>
	No. We use your Facebook account for login purposes only, and only store your e-mail address and name associated with that account. You may choose to edit your display name in your <a href="/profile/">account settings</a> if you so choose. <br/> <a href ="#top">[top]</a>
	<br/><br/>
	<!-- <a name="how-accuracy-works"></a><b>How is accuracy assessed?</b><br/> 
	<br/><br/> -->
	
	<br/>
<%= link_to 'StopInfo main page', "/" %><br/>
<% if session[:stop_id] %>
  <%= link_to 'Return to information view', "/busstops/"+ session[:agency_id] + "_" + session[:stop_id] %>
<% end %>
</div>