<div style="padding:5px;">
<table>
<tr><td colspan=2>

<h2><%= session[:stop_name] %></h2>

</td></tr>
<%= form_for :closure, url: closures_path do |f| %>
<tr><td colspan=2>Is the stop closed or open?</td></tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosureType, "open", :checked => true %> Open.
  </td>
</tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosureType, "current" %> Currently closed.
  </td>
</tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosureType, "future" %> Closed starting at: <br/>
    <%= f.datetime_select :StartDate, :default => Time.now  %>
  </td>
</tr>

<tr><td colspan=2 height=20></td></tr>
<tr><td colspan=2>If closed, how long is it closed for?</td></tr>

<tr>
  <td colspan=2>
    <%= f.radio_button :ClosurePermanent, "unknown", id: 'permanent_closed', :checked => true %> Unknown.
  </td>
</tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosurePermanent, "yes", id: 'permanent_closed' %> Stop is closed permanently.
  </td>
</tr>
<tr>
  <td colspan=2>
    <%= f.radio_button :ClosurePermanent, "no", id: 'permanent_closed' %> Stop is closed until: <br />
    <%= f.datetime_select :EndDate, :default => (Time.now).advance(:hours => 1) %>
  </td>
</tr>

<tr><td colspan=2 height=20></td></tr>
<tr><td colspan=2>Is there a suggested alternate stop?</td></tr>

<tr>
  <td colspan=2>
    <%= f.text_area :MovedTo, :value =>"", :rows =>3, :cols =>20 %>
  </td>
</tr>
</table>

<%= f.hidden_field :UserId, :value => cookies[:user_email] %>
<%= f.hidden_field :StopId, :value => @busstop.StopId %>
<%= f.hidden_field :AgencyId, :value => @busstop.AgencyId %>
<%= f.hidden_field :DateCreated, :value => Time.now %>

<%= f.label :at_stop do %>
  <%= f.check_box :UserAtStop %> I am currently at this stop.
<% end %>
  
<p>
  <%= f.submit "Report closure" %>
</p>
<% end %>

</div>